{% extends '../base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
	{% include '../includes/alerts.html' %}

	<div class="container">
		<div class="row">
			{% include 'includes/dashboard_sidebar.html' %}

			<main class="col-md-9">
				<article class="card">
					<header class="card-header">
						<strong class="d-inline-block mr-3">Edit Your Profile</strong>
					</header>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<div class="text-right">
									<img src="{{ userprofile.profile_pics.url}}" alt="profile_pics" width="100" style="border-radius: 50%;">
								</div>
								<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
									{% csrf_token %}

									<div class="form-row">
										<div class="col form-group">
											<label for="">First Name</label>
											{{userform.first_name}}
										</div>
										<div class="col form-group">
											<label for="">Last Name</label>
											{{userform.last_name}}
										</div>
									</div>
									<div class="form-row">
										<div class="col form-group">
											<label for="">Address Line 1</label>
											{{userprofileform.address_line_1}}
										</div>
										<div class="col form-group">
											<label for="">Address Line 2</label>
											{{userprofileform.address_line_2}}
										</div>
									</div>
									<div class="form-row">
										<div class="col form-group">
											<label for="">Phone No</label>
											{{userform.last_name}}
										</div>
										<div class="col form-group">
											<label for="">Profile Pics</label>
											{{userprofileform.profile_pics}}
										</div>
									</div>
									<div class="form-row">
										<div class="col form-group">
											<label for="">City</label>
											{{userprofileform.city}}
										</div>
										<div class="col form-group">
											<label for="">State</label>
											{{userprofileform.state}}
										</div>
										<div class="col form-group">
											<label for="">Country</label>
											{{userprofileform.country}}
										</div>
									</div>
									<div class="form-group text-center">
										<button type="submit" class="btn btn-primary"> Update </button>
									</div> <!-- form-group// -->
								</form>

							</div>

						</div>
					</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// -->
		</main>
	</div> <!-- row.// -->
	</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}