{% extends '../base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:70vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 600px; margin-top:20px;">
        <div class="card-body">
            {% include '../includes/alerts.html' %}
            <h4 class="card-title mb-4">Forget Password</h4>
            <form action="{% url 'forgetpassword' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Your Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email Address">
                </div> <!-- form-group// -->
             
                <div class="container form-group">
                    <button type="submit" class="btn btn-primary btn-block"> submit </button>
                </div> <!-- form-group// -->

                <div class="form-group">
                    <a href="{% url 'login' %}" class='float-right'>Got Password? Login</a>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}