{% extends '../base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:70vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:20px;">
        <div class="card-body">
            {% include '../includes/alerts.html' %}
            <h4 class="card-title mb-4">Reset Password</h4>
            <form action="{% url 'resetpassword' %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Your password</label>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label>Your conform password</label>
                    <input type="password" class="form-control" name="conform_password" placeholder="Conform Password">
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Reset </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}